[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[A8D07020D06FF34C]
row=0
col=0

[2EC4CB32C4CAFB5B]
row=2
col=0

[5CCC5D19CC5CEEB0]
row=1
col=1

[CE44C69D44C68823]
row=2
col=1

[8EA0D3EEA0D3DAB3]
row=1
col=0

[7858-78C8]
row=0
col=1

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/litch]
row=5
col=0

